<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PosPrice">
    <resultMap id="PosPriceMap" type="PosPrice">
        <result property="drpid" column="drpid"/>
        <result property="mktid" column="mktid"/>
        <result property="shopid" column="shopid"/>
        <result property="bill_dept" column="bill_dept"/>
        <result property="standards" column="standards"/>
        <result property="unit_sale" column="unit_sale"/>
        <result property="flag_wp" column="flag_wp"/>
        <result property="countid" column="countid"/>
        <result property="deptid" column="deptid"/>
        <result property="name_short" column="name_short"/>
        <result property="txm" column="txm"/>
        <result property="price_sale" column="price_sale"/>
        <result property="price_must" column="price_must"/>
        <result property="price_vip" column="price_vip"/>
        <result property="canrtn" column="canrtn"/>
        <result property="newshop" column="newshop"/>
        <result property="promotion" column="promotion"/>
        <result property="price_com" column="price_com"/>
    </resultMap>

    <sql id="table_name">
        t_bp_posprice
    </sql>

    <sql id="columns">
        drpid,
        mktid,
        shopid,
        bill_dept,
        standards,
        unit_sale,
        flag_wp,
        countid,
        deptid,
        name_short,
        txm,
        price_sale,
        price_must,
        price_vip,
        canrtn,
        newshop,
        promotion,
        price_com
    </sql>

    <sql id="values">
        #{drpid},
        #{mktid},
        #{shopid},
        #{bill_dept},
        #{standards},
        #{unit_sale},
        #{flag_wp},
        #{countid},
        #{deptid},
        #{name_short},
        #{txm},
        #{price_sale},
        #{price_must},
        #{price_vip},
        #{canrtn},
        #{newshop},
        #{promotion},
        #{price_com}
    </sql>

    <sql id="criteria">
        <where>
            <if test="drpid != null">AND drpid = #{drpid}</if>
            <if test="mktid != null">AND mktid = #{mktid}</if>
            <if test="shopid != null">AND shopid = #{shopid}</if>
            <if test="bill_dept != null">AND bill_dept = #{bill_dept}</if>
            <if test="standards != null">AND standards = #{standards}</if>
            <if test="unit_sale != null">AND unit_sale = #{unit_sale}</if>
            <if test="flag_wp != null">AND flag_wp = #{flag_wp}</if>
            <if test="countid != null">AND countid = #{countid}</if>
            <if test="deptid != null">AND deptid = #{deptid}</if>
            <if test="name_short != null">AND name_short = #{name_short}</if>
            <if test="txm != null">AND txm = #{txm}</if>
            <if test="price_sale != null">AND price_sale = #{price_sale}</if>
            <if test="price_must != null">AND price_must = #{price_must}</if>
            <if test="price_vip != null">AND price_vip = #{price_vip}</if>
            <if test="canrtn != null">AND canrtn = #{canrtn}</if>
            <if test="newshop != null">AND newshop = #{newshop}</if>
            <if test="promotion != null">AND promotion = #{promotion}</if>
            <if test="price_com != null">AND price_com = #{price_com}</if>
        </where>
    </sql>

    <select id="findByCriteria" parameterType="map" resultMap="PosPriceMap">
        select
        <include refid="columns"/>
        from
        <include refid="table_name"/>
        <include refid="criteria"/>
    </select>

    <select id="findByShopIds" parameterType="map" resultMap="PosPriceMap">
        select
        <include refid="columns"/>
        from
        <include refid="table_name"/>
        <where>
            <if test="drpid != null">AND drpid = #{drpid}</if>
            <if test="mktid != null">AND mktid = #{mktid}</if>
            <if test="shopIdList != null">
                AND shopid IN
                <foreach collection="shopIdList" item="shopid" open="(" separator="," close=")">
                    #{shopid, jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findByOuterProduct" parameterType="map" resultMap="PosPriceMap">
        select
        <include refid="columns"/>
        from
        <include refid="table_name"/>
        <if test="productList != null">
            <where>
                <foreach collection="productList" item="product" open="(" separator="OR" close=")">
                    (
                        drpid = #{product.drpid} AND
                        mktid = #{product.mktid} AND
                        shopid = #{product.outSkuId}
                    )
                </foreach>
            </where>
        </if>
    </select>

</mapper>
