<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TBpSaleposH">

    <sql id="table_name">
        t_mt_order_h
    </sql>

    <sql id="columns">
        drpid, mktid, ymd,
        bill, posid, cash_by, time_sale,
        no_vip, degree, value,
        value_afterdisc, value_disc, value_rtn,
        value_rtnafterdisc, value_rtndisc, time_send,
        flag_count, flag_bk, bill_old,
        bill_tax, stampbill, stampqty,
        stamptype, flag_taxbill, einvoiceCode,
        biz_order_id, order_channel, tb_biz_order_id
    </sql>

    <sql id="values">
        #{drpid,jdbcType=CHAR}, #{mktid,jdbcType=CHAR}, #{ymd,jdbcType=INTEGER},
        #{bill,jdbcType=CHAR}, #{posid,jdbcType=CHAR}, #{cash_by,jdbcType=CHAR}, #{time_sale,jdbcType=TIMESTAMP},
        #{no_vip,jdbcType=VARCHAR}, #{degree,jdbcType=INTEGER}, #{value,jdbcType=DECIMAL},
        #{value_afterdisc,jdbcType=DECIMAL}, #{value_disc,jdbcType=DECIMAL}, #{value_rtn,jdbcType=DECIMAL},
        #{value_rtnafterdisc,jdbcType=DECIMAL}, #{value_rtndisc,jdbcType=DECIMAL}, #{time_send,jdbcType=TIMESTAMP},
        #{flag_count,jdbcType=CHAR}, #{flag_bk,jdbcType=CHAR}, #{bill_old,jdbcType=CHAR},
        #{bill_tax,jdbcType=VARCHAR}, #{stampbill,jdbcType=VARCHAR}, #{stampqty,jdbcType=INTEGER},
        #{stamptype,jdbcType=SMALLINT}, #{flag_taxbill,jdbcType=CHAR}, #{einvoiceCode,jdbcType=VARCHAR},
        #{biz_order_id,jdbcType=VARCHAR}, #{order_channel,jdbcType=VARCHAR}, #{tb_biz_order_id,jdbcType=VARCHAR}
    </sql>

    <insert id="insert" parameterType="TBpSaleposH">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="columns"/>)
        VALUES
        (<include refid="values"/>)
    </insert>

</mapper>
