<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TBpSaleposProm">

    <sql id="table_name">
        t_mt_order_prom
    </sql>

    <sql id="columns">
        drpid,
        mktid,
        ymd,
        bill,
        rowno,
        id,
        shopid,
        prom_type,
        activitycode,
        coupontype,
        couponid,
        couponclass,
        couponppno,
        discount,
        mt_rate,
        shop_rate,
        agent_rate,
        logistics_rate,
        flag
    </sql>

    <sql id="values">
        #{drpid},
        #{mktid},
        #{ymd},
        #{bill},
        #{rowno},
        #{id},
        #{shopid},
        #{prom_type},
        #{activitycode},
        #{coupontype},
        #{couponid},
        #{couponclass},
        #{couponppno},
        #{discount},
        #{mt_rate},
        #{shop_rate},
        #{agent_rate},
        #{logistics_rate},
        #{flag}
    </sql>

    <insert id="insert" parameterType="TBpSaleposProm">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="columns"/>)
        VALUES
        (<include refid="values"/>)
    </insert>
</mapper>
